*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
  --ANIMATION-DELAY-MULTIPLIER: 70ms;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #141414;
}
.loader span {
  padding: 0;
  margin: 0;
  letter-spacing: -5rem;
  animation-delay: 0s;
  transform: translateY(4rem);
  animation: hideAndSeek 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
}
.loader .l {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 0);
}
.loader .o {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 1);
}
.loader .a {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 2);
}
.loader .d {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 3);
}
.loader .ispan {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 4);
}
.loader .n {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 5);
}
.loader .g {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 6);
}
.letter {
  width: fit-content;
  height: 3rem;
}
.i {
  margin-inline: 5px;
}
@keyframes hideAndSeek {
  0% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.loginDiv,.signUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #B6B6B6;
}

.loginDiv form{
  background-color: #E7E7E7;
  border-radius: 20px;
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.signUp form{
  background-color: #E7E7E7;
  border-radius: 20px;
  height: 65%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.loginDiv form input{
  width: 70%;
  padding: 5px;
  margin: 8px;
  
}
.signUp form input{
  width: 70%;
  padding: 5px;
  margin: 8px;

}

.loginDiv form button{
  background-color: lightblue;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  margin: 6px;
  border: none;
}

.signUp form button{
  background-color: lightblue;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  margin: 6px;
  border: none;

}


.errMsg{
  padding: 5px;
  background-color: orangered;
}

.layout{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.links{
  background-color: lightblue;
  min-height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links ul li{
   margin-top: 20px;
   list-style: none;
   text-decoration: none;
   
}

.layoutOutlet{
  background-color: #CFCFCF;
  width: 100%;
  padding-left: 50px;
}

.dashboardDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.activeClients{
  display: flex;
}

.limitComponent{
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}

.addButton{
  width: 200px;
  margin-bottom: 10px;
}

.activeClients div{
  height: 100px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.resultsDiv ul{
  list-style: none;
  padding: 10px;
  margin: 5px;
}

.userResults li{
  width: 400px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}